$font-primary: "Jost", sans-serif;
$color-purple: #ad1fea;
$color-blue: #4661e6;
$color-orange: #f49f85;
$color-sky-blue: #62bcfa;
$color-white: #ffffff;
$color-light: #f2f4ff;
$color-lighter: #f7f8fd;
$color-dark: #647196;
$color-darker: #3a4374;
$color-darkest: #373f68;
